.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
.eslintrc.json
tsconfig.json
node_modules/**
.git/**
**/.DS_Store
coverage/**
build.sh
README.md
